/**
 * to-do list
 */

body {
  margin:   0;
  padding:  0;
}

.header {
  height:            70px;
  background-color:  #24292F;
  width:             100%;
}

.header .header__content {
  width:      1080px;
  margin:     auto;
}

.header .header__logo {
  color:             white;
  line-height:       70px;
  font-size:         20px;
  font-weight:       bold;
}

.main {
  width:      980px;
  margin:     100px auto;
  padding:    100px;
  box-shadow: 0 0 4px gray;
  position:   relative;
}

.success-message {
  margin:      30px 0;
  text-align:  center;
}


/******* フォームのinfoを非表示に *******/
.info {
  display: none;
}


.todo-list {

}

.todo-card {
  border-bottom: 1px solid rgb(56, 68, 77);
  width:         100%;
  padding:       5px;
}

.todo-card_head {
  display: flex;
  align-items: center;
}

.todo-card_title {
  font-size: 16px;
  font-weight: bold;
}

.todo-card_body {
  font-size: 12px;
}

.todo-card_state {
  font-size: 10px;
  margin-left: 8px;
  padding: 4px 8px;
  border-radius: 4px;
}

.todo-card_state__wating {
  background-color: pink;
}

.todo-card_state__inprogress {
  background-color: yellowgreen;
}

.todo-card_state__completed {
  background-color: silver;
}

.todo-card .category {

}