/**
 * to-do list
 */

body {
  margin:   0;
  padding:  0;
}

.header {
  height:            70px;
  background-color:  #24292F;
  width:             100%;
}

.header .header__content {
  width:      1080px;
  margin:     auto;
}

.header .header__logo {
  color:             white;
  line-height:       70px;
  font-size:         20px;
  font-weight:       bold;
}

.main {
  width:      980px;
  margin:     100px auto;
  padding:    100px;
  box-shadow: 0 0 4px gray;
  position:   relative;
}

.success-message {
  margin:      30px 0;
  text-align:  center;
}


/******* フォームのinfoを非表示に *******/
.info {
  display: none;
}


.todo-list {
  padding: 0px;
}

.todo-card {
  border-bottom:   1px solid rgb(56, 68, 77);
  width:           100%;
  padding:         5px;
  display:         flex;
  justify-content: space-between;
}

.todo-content {
}

.todo-card_head {
  margin-top:  12px;
  display:     flex;
  align-items: center;
}

.todo-card_title {
  font-size:   16px;
  font-weight: bold;
}

.todo-card_body {
  font-size: 12px;
  margin:    12px 0px;
}

.todo-card_category {
  font-size: 10px;
  margin-left: 12px;
  padding: 4px 8px;
}

.todo-card_state {
  font-size: 10px;
  margin-left: 12px;
  padding: 4px 8px;
  border-radius: 4px;
}

.todo_state__wating {
  background-color: pink;
}

.todo_state__inprogress {
  background-color: yellowgreen;
}

.todo_state__completed {
  background-color: silver;
}

.todo-buttons {
  display:     flex;
  align-items: flex-end;
}

.todo-buttons_edit {
  margin-right: 8px;
}

.todo-buttons_remove {
}

.todo-detail {

}

.todo-detail_head {
  margin-top:  12px;
  display:     flex;
  align-items: center;
}

.todo-detail_title {
  font-size:   16px;
  font-weight: bold;
}

.todo-detail_body {
  font-size: 12px;
  margin:    20px 0px;
}

.todo-detail_category {
  font-size: 10px;
  margin-left: 12px;
  padding: 4px 8px;
}

.todo-detail_state {
  font-size: 10px;
  margin-left: 12px;
  padding: 4px 8px;
  border-radius: 4px;
}

