@*
 *
 * to do sample project
 *
 *@

@import helper._

@import forms.TodoEditData
@import presenters.TodoFormPresenter

@(vv: model.ViewValueCommon, form: Form[TodoEditData], formPresenter: TodoFormPresenter, todoId: Long)(implicit request: RequestHeader, messages: Messages)

@common.Default(vv){
  @helper.form(action = routes.TodoController.update(todoId)) {
    @CSRF.formField 
    @helper.inputText(form("title"))
    @helper.textarea(form("body"))
    @helper.select(form("state"), options = formPresenter.stateOptions)
    @helper.select(form("categoryId"), options = formPresenter.categoryOptions)
    <input type="submit" value="更新">
    <a href="@routes.TodoController.index">戻る</a>
  }
}
