@*
 *
 * to do sample project
 *
 *@

@(vv: model.ViewValueCommon, list: Seq[lib.model.Todo.EmbeddedId])

@common.Default(vv){
  <a href="@routes.TodoController.add">TODO作成</a>
  <ul class="todo-list">
  @for(todo <- list) {
    <li>
      <div class="todo-card">
        <div class="todo-card_head">
          <p class="todo-card_title">@todo.v.title</p>
          <p class="todo-card_state">@todo.v.state.name</p>
        </div>
        <p class="todo-card_body">@todo.v.body</p>
      </div>  
    </li>
  }
  </ul>
}
