@*
 *
 * to do sample project
 *
 *@

@import helper._

@import presenters.TodoPresenter
@import presenters.TodoListPresenter
@import helpers.TodoHelper

@(vv: model.ViewValueCommon, presenter: TodoListPresenter, flash: String)(implicit request: RequestHeader, messages: Messages)

@common.Default(vv){
  @if(!flash.isEmpty) {
    <div>@flash</div>
  }
  <button>
    <a href="@routes.TodoController.add">作成</a>
  </button>
  <ul class="todo-list">
  @for(item <- presenter.list) {
    <li>
      <div class="todo-card">
        <div class="todo-content">
          <div class="todo-card_head">
            <div class="todo-card_title">@item.title</div>
            <div class="todo-card_category">@item.categoryName</div>
            <div class="todo-card_state @TodoHelper.stateStyle(item.state)">@item.state.name</div>
          </div>
          <p class="todo-card_body">@item.body</p>
        </div>
        <div class="todo-buttons">
          <button class="todo-buttons_edit">
            <a href="@routes.TodoController.edit(item.id)">編集</a>
          </button>
          <div class="todo-buttons_remove">
            @helper.form(action = routes.TodoController.remove(item.id)) {
              @CSRF.formField
              <input type="submit" value="削除">
            }
          </div>
        </div>
      </div>
    </li>
  }
  </ul>
}
